@inherits LayoutComponentBase

<div class="container px-4">
    
    <div class="mt-5 mb-5">
        <img src="/ade_logo.png"
             class="d-inline-block align-content-center"
             style="max-height: 50px"
             alt="Agenzia delle Entrate"/>

        <h2 class="d-inline align-content-center">
            Download
        </h2>

    </div>

    <div>
        @Body
    </div>
    
</div>