@page "/"

@using AdeDl.BlazorApp.Components

<div class="mt-2">
    <img src="/ade_logo.png"
         style="max-height: 50px"
         alt="Agenzia delle Entrate"/>
    <h2>
        Download
    </h2>
    
    <SelectCredentialForm/>
    
</div>